.container-carrinho {
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.itens-carrinho {
    border: 1px solid #263238;
    height: 80vh;
    width: 80vw;
    margin: 1px;
    overflow: hidden;
}

.nav-carrinho {
    border: 1px solid #263238;
    height: 10vh;
    width: 80vw;
    margin: 1px;
}

.itens-da-compra {
    display: flex;
    margin: 1px;
    height: 80vh;
    width: 80vw;
    overflow: hidden;
}

.lista-produtos {
    padding: 20px;
    height: auto;
    width: 50vw;
    margin: 1px;
    overflow: scroll;
    overflow-x: hidden;
}

.resumo-da-compra {
    border: 1px solid #00ff04;
    height: 60vh;
    width: 40vw;
    margin: 1px;
}

.produto {
    height: 25vh;
    width: 85%;
    margin: 1px;
    overflow: hidden;
}

.produto img {
    height: 120px;
    width: 120px;
}

.produto hr{
    height: 1px;
    border: none;
    background-color: #263238;
    margin-top: 15px;
}

.produtos{
    border: 1px solid #ff00ea;
    background-color: #ffffff;
    border-radius: 10px;
    height: 60vh;
    width: 50vw;
    overflow: scroll;
    overflow-x: hidden;
}