.container-criarProduto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color5);
}

.main-content-wrapper {
    flex-grow: 1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 1rem;
}

.criar-produto {
    width: 100%;
    max-width: 544px;
    margin-top: 60px;
    padding: 2.5rem;
    border-radius: 0.75rem;
    overflow: hidden;
}

.criar-produto h1 {
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
    color: #263238;
    margin-bottom: 4px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

form>div {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 0.875rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.preco[type="text"],
.preco[type="number"],
.descricao {
    width: 100%;
    padding: 0.75rem 1rem;
    border: 1px solid #d1d5db;
    border-radius: 0.75rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-size: 0.95rem;
}

.preco[type="text"]:focus,
.preco[type="number"]:focus,
.descricao:focus {
    outline: none;
    border-color: #A71111;
}

.descricao {
    height: 250px;
    resize: none;
}


.cadastrar-produto[type="submit"] {
    background-color: #A71111;
    padding: 14px;
    border-radius: 8px;
    font-size: 1rem;
    color: #fff;
    border: none;
}

.cadastrar-produto[type="submit"]:hover {
    cursor: pointer;
    background-color: #8e0e0e;
}

/* btns de personalização */
.title-personalizacao {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.btns-personalizacao {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.btns-personalizacao h2 {
    font-size: 20px;
}

.btns-personalizacao button {
    cursor: pointer;
    border: 1px solid var(--color3);
    padding: 2px 10px 2px 10px;
    border-radius: 5px;
    transition: 0.3s;
}

.btns-personalizacao button:hover {
    background-color: var(--color3);
    color: var(--color5);
}

.btns-personalizacao ul {
    display: flex;
    justify-content: space-between;
}

.btns-personalizacao .cor-azul {
    color: #fafafa;
}

.personalizacao {
    gap: 20px;
}

.personalizacao p {
    font-size: 15px;
}

.personalizacao hr {
    background-color: #263238;
    height: 1px;
}