.container-estoque{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tabela-estoque {
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    border: 1px solid black;
}

.tabela-estoque table {
    border-collapse: collapse;
    width: 80%;
}

.tabela-estoque th,
.tabela-estoque td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}