* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    scrollbar-color: #ffffff #263238;
    overflow-x: hidden;
    border: none;
}


#root {

    --card-bg: #ffffff;     
    --bg-color: #f5f5f5;
    --accent-color: #e00000;    
    --color3: #A71111;
    --color2: #37474F;
    --text-color: #333333;
    --primary-color: #263238;
    --color7: #111111;

    --font-primary: "Urbanist", sans-serif;
    --font-secondary: "Roboto", sans-serif;

    --card-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);

}

html, body {
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: auto;
}