* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    scrollbar-color: #ffffff #263238;
    border: none;
}


#root {

    /* Fontes para o texto */
    --font-primary: "Urbanist", sans-serif;
    --font-secondary: "Roboto", sans-serif;

    /* Cores gerais */
    --card-bg: #ffffff;
    --bg-color: #f5f5f5;
    --accent-color: #e00000;
    --color3: #A71111;
    --color2: #37474F;
    --text-color: #333333;
    --primary-color: #263238;
    --color7: #111111;



    --card-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);

    /* Botões de Login e Cadastro*/
    --botao-login: #111111;
    --botao-login-hover: #111111;
    --botao-login-texto: #ffffff;
    --botao-login-texto-hover: #ffffff;
    --botao-login-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);

    --botao-cadastro: #111111;
    --botao-cadastro-hover: #111111;
    --botao-cadastro-texto: #ffffff;
    --botao-cadastro-texto-hover: #ffffff;
    --botao-cadastro-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);

    --botao-border: 10px;

    /* Botões de Link */
    --botao-link: #111111;
    --botao-link-hover: #111111;
    --botao-link-texto: #ffffff;
    --botao-link-texto-hover: #ffffff;
    --botao-link-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);

    /* Botões especiais */
    --border-radius: 10px;


}

html, body {
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f5f5f5;
}