.container-painel {
 display: flex;
 justify-content: center; 
 align-items: center; 
 min-height: 100vh; 
 background-color: #f5f5f5; 
 padding: 20px;
}

.container-um {
 display: grid;
 grid-template-columns: repeat(3, 1fr); 
 gap: 30px; 
 padding: 40px; 

 background-color: white; 
 box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
 width: fit-content; 
}

.card-adm {
 display: flex;
 justify-content: center;
 align-items: center;
 text-align: center;
 width: 190px; 
 height: 190px; 

 background-color: white;
 border-radius: 8px;
 box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1), 0 0 0 1px #e0e0e0; 
 transition: transform 0.2s, box-shadow 0.2s;
}

.card-adm:hover {
 transform: translateY(-5px); 
 box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15), 0 0 0 1px #d0d0d0;
 cursor: pointer;
}

.card-link {
 display: flex;
 flex-direction: column; 
 align-items: center;
 justify-content: center;

 text-decoration: none; 
 color: #263238;
 font-family: Arial, sans-serif;
 font-size: 14px;
 font-weight: 500;
 padding: 10px; 
 width: 100%;
 height: 100%;
}

.card-icon {
 font-size: 3.5em; 
 color: #d12c2c;
 margin-bottom: 8px; 
}

.card-text {
  line-height: 1.2;
}

.card-adm p {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 color: #263238;
 font-family: 'Urbanist', sans-serif;

 font-size: 14px;
 font-weight: 500px;
 padding: 10px;
 margin: 0; 
 width: 100%;
 height: 100%;
}

.img-iconMais{
 width: 70px;
 height: 70px;
 align-items: center;
}

.img-iconGestor{
 width: 70px;
 height: 70px;
 align-items: center
}

.img-iconAdm{
 width: 70px;
 height: 70px;
 align-items: center
}

.img-iconSaida{
 width: 70px;
 height: 70px;
 align-items: center
}