.Container-admPerfil{
 display: flex;
 justify-content: center; 
 align-items: center; 
 min-height: 100vh; 
 background-color: #f5f5f5; 
 padding: 20px;
}

.Container-formulario{
 padding: 60px; 
 background-color: white; 
 border-radius: 10px; 
 box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
 width: fit-content; 
    
 display: flex;
 flex-direction: column; 
  gap: 20px; 
}

.iconPerfilAdm{
 width: 90px;
 height: 90px;
 align-items: center;
 margin: auto;
}

.alinhamento-form {
 display: flex;
 flex-direction: column;
 gap: 2px;
}


.alinhamento-form label {
 font-weight: bold;
  color: #333;
 font-size: 14px;
}

.alinhamento-form input {
 padding: 10px;
 border: 1px solid #ccc;
 border-radius: 4px;
 font-size: 16px;
 width: 100%; 
 max-width: 300px; 
 height: 38px;
}

.button-salvar {
 padding: 10px 15px;
 background-color: #D5202C; 
 color: white;
 border: none;
 border-radius: 4px;
 cursor: pointer;
 font-weight: bold;
 margin-top: 10px;
 height: 48px;
 max-width: 300px; 
}
