.container-produto {
 height: 100vh;
 Background-color: #f5f5f5;
}

.alinhamento-geral {
 display: flex;
 align-items: flex-start;
 gap: 30px;
 margin-top: 6%;
  margin-left: 8%;
}

.container-imgs-principal {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.container-item {
 background-color: #ffffff;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
 transition: box-shadow 0.3s ease-in-out;
 border-radius: 8px;

 width: 490px;
 height: 430px;
}

.alinhamento-imgs {
 display: flex;
 gap: 10px;
}

.container-item h1 {
 text-align: center;
}

.container-img {
 background-color: #ffffff;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
 transition: box-shadow 0.3s ease-in-out;

 width: 90px;
 height: 75px;
}

.container-img {
 background-color: #ffffff;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
 transition: box-shadow 0.3s ease-in-out;
}

.container-img {
 background-color: #ffffff;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
 transition: box-shadow 0.3s ease-in-out;
}

.container-info-item {
 background-color: #ffffff;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
 transition: box-shadow 0.3s ease-in-out;
 border-radius: 8px;

 width: 335px;
 height: 430px;
}

.titulo {
 color: #1E2327;
 font-weight: bold;
 font-family: 'Urbanist', sans-serif;

 margin-top: 4%;
 margin-left: 5%;
}

.alinhamento-1 {
 margin-left: 5%;
}

.sub-titulo {
 color: #263238;
 font-weight: bold;
 font-family: 'Albert Sans', sans-serif;

 margin-top: 6%;
 margin-bottom: 3%;
}

.valor {
 color: #BB252F;
 font-weight: bold;
 font-family: 'Albert Sans', sans-serif;

 margin-top: 5%;
}

.avaliacao {
 color: #263238;
 font-weight: bold;
 font-family: 'Albert Sans', sans-serif;

 margin-top: 5%;
}

/*Todos os containers de valor total do produto */
.opcoes-personalizacao {
 display: flex;
 flex-direction: column;
 gap: 20px;

 font-family: 'Albert Sans', sans-serif;
 color: #263238;
}

.grupo-personalizacao {
 display: flex;
 flex-direction: column;
 gap: 10px;
}

.text-personalizacao {
 font-family: 'Albert Sans', sans-serif;
 font-size: 16px;
 font-weight: bold;
 color: #BB252F;
}

.checkbox-container {
 display: flex;
 gap: 15px;
 flex-wrap: wrap;
}

.checkbox-item {
 display: flex;
 align-items: center;
 gap: 5px;
}

/*Todos os containers de valor total do produto */
.container-valor {
 background-color: #ffffff;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
 transition: box-shadow 0.3s ease-in-out;
 border-radius: 8px;

 display: flex;
 flex-direction: column;
 gap: 15px;
 overflow-x: hidden;
 width: 289px;
 height: 240px;
 padding: 15px
}

.botoes-compra {
 display: flex;
 flex-direction: column;
 gap: 10px;
 margin: 0;
 width: 100%;
}

.button-adicionar {
 width: 175px;
 height: 32px;
 border-radius: 4px;

 background-color: #FF414E;
 color: #ffffff;
 font-weight: bold;
 font-family: 'Albert sans', sans-serif;
}

.button-adicionar:hover{
 background-color: #ce254a;
}

.button-confirmar:hover{
  background-color: #fa4c58;
}

.button-confirmar {
 width: 230px;
 height: 33px;
 border-radius: 4px;

 background-color: #D5202C;
 color: #ffffff;
 font-family: 'Albert sans', sans-serif;
 font-weight: bold;
}

.titulo-valor {
 color: #1E2327;
 font-weight: bold;
 font-family: 'Urbanist', sans-serif;

 margin-left: 3%;
 margin-top: 3%;
}

.alinhamento-quantidade-produto {
 display: flex;
 align-items: center;
 justify-content: space-between;
 width: 100%;
 margin-bottom: 15px;
}

.grupo-botoes-input {
 display: flex;
 align-items: center;
 gap: 0; 
}

.alinhamento-quantidade-produto button {
 color: #BB252F;
 font-weight: bold;
 font-size: 18px;

 height: 30px;
 width: 30px;
 cursor: pointer;
 padding: 0;
}


.alinhamento-quantidade-produto input {
 width: 40px;
 height: 30px;
 border-radius: 6px;
 text-align: center;

 border: 1px solid #BB252F;
}


.descricao h3 {
 font-family: 'Albert Sans', sans-serif;
 font-weight: bold;
 font-size: 18px;
 color: #263238;

 margin-top: 4%
}

.descricao p {
 font-family: 'Albert Sans', sans-serif;
 color: #263238;

 margin-top: 1%;
}