version: '3.8'

services:
  mongodb:
    image: mongo:latest
    container_name: mongodb
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: user
      MONGO_INITDB_ROOT_PASSWORD: secret
    volumes:
      - mongodb_data:/data/db
    restart: always

  backend:
    build:
      context: ./Backend 
      dockerfile: Dockerfile
    container_name: node_backend
    ports:
      - "3000:3000"
    environment:
      - .env
    depends_on:
      - mongodb
    restart: always

  frontend:
    build:
      context: ./Frontend
      dockerfile: Dockerfile
    container_name: react_frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: always

volumes:
  mongodb_data: