.container-produtos-home {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    margin-top: 50px;
}

.card-produto {
    padding: 15px;
    margin: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 200px;
    gap: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
}

.card-produto:hover {
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
    transition: 0.2s;
}

.preco-card {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    
}

.carousel-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 140px;
}

.carousel-container {
    width: 1040px;
    overflow: hidden;
}

.carousel-track {
    display: flex;
    transition: transform 0.4s ease-in-out;
}

.carousel-item {
    border: 2px solid #ccc;
    border-radius: 10px;
    width: 200px;
    flex-shrink: 0;
    margin-right: 10px;
    padding: 10px;
}

.carousel-item:last-child {
    margin-right: 0;
}

.carousel-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 8px;
}

.carousel-item p {
    margin: 0;
    font-size: 14px;
    color: #333;
}

.seta {
    background-color: white;
    border: 2px solid #005CFF;
    box-shadow: 0px 4px 10px rgba(121, 121, 121, 0.588);
    border-radius: 100%;
    height: 40px;
    width: 40px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.seta img {
    height: 15px;
    margin: 0;
}

.seta:hover {
    height: 45px;
    width: 45px;
}

#prevBtn {
    margin-right: -20px;
    z-index: 1;
}

#nextBtn {
    margin-left: -20px;
    z-index: 1;
}

h3 {
    color: #303030;
    font-size: 14px;
    text-align: center;
}

.disconto {
    display: flex;
    flex-direction: column;
}

.disconto p:nth-child(1) {
    color: #303030;
    font-size: 13px;
    text-decoration: line-through;
}

.disconto p:nth-child(2) {
    color: #000000;
    font-size: 17px;
}

.disconto a {
    display: inline-flex;
    font-size: 12px;
    background-color: #5EC0BE;
    padding: 5px;
    border-radius: 2px;
    color: white;
    margin-left: 20px;
    margin-bottom: 10px;
}

.novo {
    color: #fff;
    border-radius: 5px;
    background-color: #00264E;
    padding: 5px;
}

.comprar {
    padding: 8px;
    border-radius: 8px;
    border: none;
    background-color: #005CFF;
    color: #fff;
}
