@import url("https://fonts.googleapis.com/css2?family=Istok+Web:wght@400;700&display=swap");

.container-produtos-home {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px;
  flex-wrap: wrap;
  padding: 40px 0;
}

.card {
  position: relative;
  width: 200px;
  height: 330px;
  background: #191919;
  border-radius: 10px;
  overflow: hidden;
}

.btn-curtir {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 3;
}

.card::before {
  content: "";
  position: absolute;
  top: -50%;
  width: 100%;
  height: 100%;
  background: var(--color4);
  transform: skewY(345deg);
  transition: 0.5s;
}

.card:hover::before {
  top: -70%;
  transform: skewY(390deg);
}

.card::after {
  content: "CORSAIR";
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 600;
  font-size: 6em;
  color: rgba(0, 0, 0, 0.1);
}

.card .imgBox {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  height: 200px;
  width: 200px;
  overflow: hidden;

  z-index: 1;
}

.card .imgBox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .contentBox {
  position: relative;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
  overflow: hidden;

}

.card .contentBox h3 {
  font-size: 12px;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.card-nome-produto {
  
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card .contentBox .price {
  font-size: 15px;
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
}

.card .contentBox .buy {
  position: relative;
  top: 10px;
  opacity: 0;
  padding: 5px 15px;
  margin-top: 5px;
  color: #000000;
  text-decoration: none;
  background: #ffce00;
  border-radius: 30px;
  letter-spacing: 4px;
  transition: 0.5s;
}

.card:hover .contentBox .buy {
  top: 0;
  opacity: 1;
  letter-spacing: 0px;
}

.mouse {
  height: 300px;
  width: auto;
}