.navbar {
    z-index: 2;
    width: 100%;
    background-color: var(--color1);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, sans-serif;
    position: fixed;
    top: 0;
}

.logo {
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: bold;
}

.search-bar {
    display: flex;
    gap: 5px;
    border: 1px solid #ffffff;  
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0);
    overflow: hidden;
    height: 325px;
}

.search-bar input {
    background-color: #ffffff00;
    outline: none;
    padding-left: 13px;
    font-size: 15px;
    width: 300px;
    border: none;
    color: #ffffff;
}

.search-bar input::placeholder {
    color: #ffffff;
}

.search-bar button {
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0);
    overflow: hidden;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.buttons p{
    color: #ffffff;
}

.buttons a {
    color: var(--color4);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
}