.container-navbar {
    width: 100vw;
    height: 10vh;
    background-color: var(--color1);
    display: flex;
    align-items: center;
    top: 0px;   
    position: fixed;
    z-index: 1;
}

.navbar {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em;
    position: absolute;
}

.buttons-container {
    text-decoration: none;
    display: flex;
    gap: 15px;
}

a {
    text-decoration: none;
    color: white;
    padding: 4px;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 5px;
}