.container-navbar {
    width: 100vw;
    height: 10vh;
    background-color: var(--color1);
    display: flex;
    justify-content: end;
    align-items: center;
    top: 0px;   
    position: fixed;
    z-index: 1;
    text-align: center;
}